
label {
    display:block;
    margin-botom: 5px;
}

input, textarea {
    display: block;
    width: 100%;
    margin-bottom:15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.mensaje {
  background-color: blue;
  padding: 10px;
  margin-top: 10px;
    !important
}

.nombre {
    background-color: blue;
    padding: 10px;
    margin-top: 10px;
    !important

}
